@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Playfair+Display&family=Roboto:wght@300&display=swap');

header {
  background-color: #FFFFFF;
  border: none;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

h1 {
  color: #6781D8;
  font-size: 400%;
}

h2 {
  margin-bottom: 40px;
  text-align: center;
  color: #6781D8;
  font-size: 300%;
  font-family: "Playfair", sans-serif;
}

section {
  align-items: center;
  background-color: none;
  display: flex;
  justify-content: center;
}


.box {
  background-color: white;
}

input {
  padding: 5%;
  user-select: none;
  height: 25%;
  width: 85%;
  border-radius: 6px;
  border: none;
  border: 2px solid #6781D8;
  outline: none;
  font-size: 40%;
}

input::placeholder {
  font-size: 450%;
}

.generate-button,
.copy-button {
  background-color: #d1d7eb;
  font-family: sans-serif;
  font-size: 120%;
  margin-top: 25px;
  border: 2px solid #a7b2d9;
  width: 11.25em;
  height: 3.125em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 7px;
}

/* footer details */
#footer {
  bottom: 0;
  height: 100%;
  margin-top: 20%;
  position: absolute;
  width: 100%;
}

#social-networks {
  text-align: center;
  margin-top: 10%;
}

.social-networks > li {
  color: #6781D8;
  display: inline;
  font-size: 275%;
  min-height: 100%;
  opacity: 1;
  text-align: center;
}

.fa-brands {
  color: #6781D8;
}

.fa-brands:hover {
  background-color: none;
  color: #d1d7eb;
}

/* copyright with my personal name at the bottom of the page */
.copyright {
  color: #6781D8;
  font-size: 200%;
  list-style-type: none;
  opacity: 1;
  text-align: center;
}
